div[role="header"]{
	padding: 20px;
	background-color: #B22222;	/*Fire brick red*/
	border-radius: 16px;
}

div[role="infoHeader"]{
	color: #FFFFFF;
	background-color: #6E6E6E;	/*Light Red*/
	border-radius: 6px;
	padding-left: 4px;
}

div[role="visionHeader"]{
	padding-left: 15px;
}

div[role="banner"]{
	margin-left: 100px;
	color: #000;
}

div[role="banner"] h1 {
	font-size: 50px;
}

.indented{
    text-indent: 25px;
}

.logo{
	float: left;
	width: 200px;
	height: auto;
}

.teamPhoto{
	max-width: 45%;
  height: auto;
	border-radius: 8px;
	display: block;
	margin: auto;
}

div[role="nav"]{
	margin-right: 100px;
}

div[role="nav"] a {
	margin-right: 10px;
	margin-left: 10px;
	font-size: 15px;
	color: #FFF;
	border:1px solid;
	border-color: #B22222;
	border-left-color: white;
	padding-left: 20px;
}

figcaption {
	text-align: center;
}

.sponsor{
	width: 300px;
	height: auto;
	display: block;
	margin: auto;
}

.sponsor_past{
	width: 140px;
	height: auto;
	display: block;
	margin: auto;
}

.sponsor_silver{
	width: 240px;
	height: auto;
	display: block;
	margin: auto;
}

.sponsor_gold{
	width: 310px;
	height: auto;
	display: block;
	margin: auto;
}

.sponsor_div{
	float: left;
}

.Sponsor_Outer {
  display: table;
	margin: auto;
}

.Sponsor_Col {
  display: table-cell;
	width: 410px;
	font-size: 11px;
	text-align: center;
}

.Sponsor_Col_Past {
  display: table-cell;
	width: 200px;
	font-size: 12px;
	text-align: center;
}

.valign-bottom {
  vertical-align: bottom;
}
